# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Temporary Output Files
out

# Distribution Folder
dist
dist-ssr
*.local

# Webhint
.hintrc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Blender files
*.blend

# GIMP files
*.xcf
