.toolbar {
  width: 100%;
  height: $toolbar-height;
}

.toolbar-visual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $toolbar-height;
  background: url('/images/ui/card-background-light.png');
  background-size: 12%;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .corner {
    width: 16px;
    height: $border-row-height;
    display: inline;
    background: url('/images/ui/border-corner.png');
  }

  .border-horizontal {
    width: calc(100% - #{$border-row-height} * 2);
    height: $border-row-height;
    display: inline;
    background: url('/images/ui/border-horizontal.png');
  }

  .border-vertical {
    width: $border-row-height;
    height: $middle-row-height;
    display: inline;
    background: url('/images/ui/border-vertical.png');
  }

  .top-row,
  .bottom-row {
    width: 100%;
    height: $border-row-height;
    display: flex;
  }

  .middle-row {
    width: 100%;
    height: calc($toolbar-height - #{border-row-height} * 2);
    display: flex;
    justify-content: space-between;
  }
}

.toolbar-content {
  position: absolute;
  width: 100%;
  height: $toolbar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 16px 26px;
  box-sizing: border-box;

  // background: green;

  .content-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .toolbar-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 15px;

    &.home {
      width: 48px;
      height: 48px;
      background: url('/images/ui/icons/home.png');
    }

    // TODO: insert icon name dynamically instead of hardcoding
    &.search {
      background: url('/images/ui/icons/search.png');
    }

    &.map {
      background: url('/images/ui/icons/map.png');
    }
  }
}
